.wrapper {
  border-top: 1px solid #f1f1f2;
  padding-top: 8px;
  width: 320px;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  border-radius: 8px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.avatar {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.body {
}
.nickname {
  font-size: 1.8rem;
  color: #161823;
}
.checked {
  margin-left: 5px;
  color: #20d5ec;
}
.name {
  font-size: 1.4rem;

}
.information {
  margin-top: 8px;
}
.followers {
  margin-right: 6px;
}
.label {
  margin-right: 12px;
  color: rgba(22, 24, 35, 0.75);
}
.likes {
  margin-right: 6px;
}
